@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1F2937;
    line-height: 1.5;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    color: #fff;
    text-decoration: none;
}

.full-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header h1 {
    font-size: 1.75rem;
    padding-right: 1rem;
    font-weight: lighter;
}

.nav-info-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.nav-info-links a {
    padding-top: 5px;
    margin-bottom: -3px;
}

.nav-info-individual-link {
    margin-top: 6px;
    margin-left: 5px;
}

.envelope-svg {
    width: 20px;
    height: auto;   
}

.info-twitter-button {
    color: #f5f5f5;
    cursor: pointer;
    border: none;
    background: none;
    height: auto;
    width: 25px;
    margin: 0;
    padding: 0;
}

.info-show-modal-button {
    color: #f5f5f5;
    cursor: pointer;
    border: none;
    background: none;
    height: auto;
    width: 25px;
    margin: 0;
    padding: 0;
}

.question-svg {
    width: 20px;
    height: auto;
}

.info-modal-show {
    display: none;
    position: fixed;
    /* display: flex; */
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6)
}

.modal-content {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    width: 90%;
    height: auto;
}

.modal-content-left {
    background-color: #EC4899;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
    position: relative;
    width: 100%;
    height: 40px;
}

.modal-content-right {
    background-color: #1F2937;
    width: 100%;
    padding: 1rem;
    font-size: 0.75em;
}

.modal-close-button {
    color: #1F2937;
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    top: 0%;
    right: 0%;
}

.modal-close-button:focus {
    outline: 2px solid #f5f5f5;
}

.projects-btn {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    color: #f5f5f5;
    background-color: inherit;
    margin: 0;
    padding: 2px 0;
    margin-bottom: 0.1rem;
    text-align: right;
    padding-right: 0.5rem;
    border: 2px solid #EC4899;
    cursor: pointer;
    transition: padding 0.5s;
}

.projects-btn:hover {
    padding-right: 1rem;
    background-color: #EC4899;
}

.projects-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 0.25rem;
}

.projects-ul-closed {
    display: none;
}

.projects-li {
    font-size: 0.9rem;
    padding-right: 0.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #EC4899;
    border-right: 1px solid #EC4899;
    border-left: 1px solid #EC4899;
    cursor: pointer;
    transition: padding 0.5s;
    color: #f5f5f5;
}

.projects-li:last-of-type {
    border-bottom: 1px solid #EC4899;
}

.projects-li:hover {
    padding-right: 1rem;
    background-color: #EC4899;
}

.content-container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.main {
    max-width: 800px;
    color: #f5f5f5;
}

.index-project-grid {
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}

.index-project-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 4rem;
    border: 1px solid #EC4899;
    cursor: pointer;
    font-size: 1rem;
}

.index-project-styling:hover {
    background-color: #EC4899;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.number-highlight {
    color: yellow;
}

.index-main {
    width: 100%;
    max-width: 800px;
    color: #f5f5f5;
    font-size: 0.9em;
}

.index-main h1 {
    color: #f5f5f5;
    border-bottom: 1px solid #EC4899;
    border-left: 4px solid #EC4899;
    padding-left: 0.2em;
    font-size: 3em;
    font-weight: lighter;
}

.main-content {
    width: 100%;
    max-width: 800px;
    color: #f5f5f5;
    padding-top: 1em;
}

.main-content-header {
    display: flex;
    justify-content: center;
}

.main-content h1 {
    color: #f5f5f5;
    border-left: 4px solid #EC4899;
    border-bottom: 1px solid #EC4899;
    display: inline-block;
    padding-left: 0.3em;
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 0;
}

.main-content h4 {
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    font-size: 1.4em;
    font-weight: lighter;
}

.main-content p {
    margin-bottom: 1rem;
}

/* PROJECT SECTION CONTAINER AND LAYOUT */

.project-navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.project-navbar li {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
}

.project-li-summary {
    border: 1px solid #EC4899;
}

.project-li-html {
    border: 1px solid #EC4899;
}

.project-li-css {
    border: 1px solid #EC4899;
}

.project-li-javascript {
    border: 1px solid #EC4899;
}

.project-li-summary.active {
    border: 1px solid #EC4899;
    border-bottom: none;
}

.project-li-html.active {
    border: 1px solid #EC4899;
    border-bottom: none;
}

.project-li-css.active {
    border: 1px solid #EC4899;
    border-bottom: none;
}

.project-li-javascript.active {
    border: 1px solid #EC4899;
    border-bottom: none;
}

.project-navbar li button {
    background: inherit;
    cursor: pointer;
    border: none;
    color: white;
    width: 100%;
    font-size: 10px;
    padding: 10px 0;
}

.project-inner-container {
    padding: 1em 1em 3em 1em;
    margin-bottom: 3em;
    border-right: 1px solid #EC4899;
    border-left: 1px solid #EC4899;
    border-bottom: 1px solid #EC4899;
}

.project-summary {
    display: none;
}

.project-html {
    display: none;
}

.project-css {
    display: none;
}

.project-javascript {
    display: none;
}

.project-summary.active {
    padding-top: 1em;
    display: block;
}

.project-html.active {
    padding-top: 1em;
    display: block;
}

.project-css.active {
    padding-top: 1em;
    display: block;
}

.project-javascript.active {
    padding-top: 1em;
    display: block;
}

/* PROJECT IDE SETTINGS */

.ide-mockup {
    background-color: #282a36;
    padding: 2rem 1.5rem;
    color: #50fa7b;
    font-size: 0.8em;
}

.ide-mockup p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.ide-linebreak {
    height: 1em;
}

.ide-pink {
    color: #EC4899;
}

.ide-green {
    color: #50fa7b;
}

.ide-yellow {
    color: #f1fa8c;
}

.single-tab {
    padding-left: 1.5em;
}

.double-tab {
    padding-left: 2.5em;
}

.triple-tab {
    padding-left: 3.5em;
}

.quad-tab {
    padding-left: 4.5em;
}

.quint-tab {
    padding-left: 5em;
}

/* PROGRESS BAR PROJECT */

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15em;
}

.activate-progress-button {
    background: inherit;
    cursor: pointer;
    border: none;
    color: white;
    width: auto;
    font-size: 1em;
    border: 1px solid #EC4899;
    display: inline-block;
    margin-right: 40px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.activate-progress-button:active {
    transform: scale(0.98);
}

.static-progress-bar {
    position: relative;
    background-color: #000;;
    height: 40px;
    width: 180px;
}

.moving-progress-bar {
    position: absolute;
    background-color: #EC4899;
    height: 40px;
}

/* BUILD MODAL PROJECT */

.build-modal-show {
    /* display: flex; */
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: display 4s ease-in-out;
}

.build-modal-example-navbar {
    background-color: #EC4899;
    height: 40px;
}

.build-modal-close-button {
    color: #1F2937;
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    top: 0%;
    right: 0%;
}

.build-modal-example-content{
    position: absolute;
    width: 300px;
    top: 20%;
    left: calc(50% - 150px);
    background-color: #1F2937;
    color: #EC4899;
}

.build-modal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
}

.build-modal-button {
    color: #f5f5f5;
    cursor: pointer;
    border: 1px solid#EC4899;
    background: none;
    height: 100px;
    width: 150px;
}

.build-modal-button:focus {
    transform: scale(0.1) 4s ease-in;
}

/* /* COUNTDOWN TIMER PROJECT */

.build-digital-clock-container {
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    background: url('/img/digitalclock/digitalclockbackground.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 15rem;
    height: 30rem;
    border: 4px solid #000;
    background-color: #000;
    border-radius: 25px;
}

.digital-clock-home-button {
    position: absolute;
    left: calc(50% - 14px);
    bottom: 2.5%;
    border: 1px solid rgb(70, 68, 68);
    height: 28px;
    width: 28px;
    background-color: #000;; 
    border-radius: 50%;
    outline: none;
    cursor: pointer; 
}

.digital-clock-home-button:active {
    transform: scale(0.95);
}

.digital-clock-home-button:focus {
    box-shadow: 0 0 3pt 2pt #EC4899;
}

.build-digital-clock {
    position: absolute;
    right: -80%;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.6);
    color: #b4b4b4;
    height: 4rem;
    width: 10rem;
    font-size: 2.3rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: right 0.5s ease-in-out;
}

.build-digital-clock.clicked {
    right: 0%;
    transition: right 1s ease-in-out;
}

.build-digital-clock p {
    margin: 0;
    padding: 0;
}

.ide-mockup img {
    width: 100%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .nav {
        width: 30%;
    }

    .index-main h1 {
        font-size: 4em;
    }

    .content-container {
        width: 70%;
    }

    .modal-content {
        width: 30%;
        height: auto;
    }

    .modal-content-right {
        height: 300px;
    }
    
    .modal-close-button:focus {
        outline: 2px solid #f5f5f5;
    }

    .progress-bar-container {
        height: 325px;
    }

    .project-navbar li button {
        font-size: 14px;
    }

    .ide-mockup {
        font-size: 0.8em;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .full-content-div { 
        flex-direction: row;
        align-items: flex-start;
    }

    .nav {
        margin-left: 5rem; 
        width: 25%;
    }

    .content-container {
        width: 75%;
    }

    .main {
        margin-top: 8rem;
    }

    .index-main {
        padding-top: 3em;
    }

    .main-content {
        padding-top: 3em;
    }

    .main-content h1 {
        font-size: 3em;
    }

    .full-content-div {
        margin-left: 1.25em;
        margin-right: 1.25em;
    }

    .progress-bar-container {
        height: 15em;
    }

    .progress-terminal {
        flex-direction: row;
        justify-content: center;
    }

    .progress-initial-hack {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .progress-initial-button {
        background-color: black;
        color: #f5f5f5;
        width: 20%;
        margin: 0 30px 0 0;
        cursor: pointer;
    }

    .progress-hack-button {
        margin-right: 30px;
        cursor: pointer;
    }

    .progress-button {
        margin: 30px;
    }

    .build-modal-button-container {
        height: 20em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}