@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1F2937;
    line-height: 1.5;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    color: #fff;
    text-decoration: none;
}

.full-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header h1 {
    font-size: 1.75rem;
    margin-right: 1rem;
    font-weight: lighter;
}

.nav-info-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.nav-info-links a {
    padding-top: 5px;
    margin-bottom: -3px;
}

.nav-info-individual-link {
    margin-top: 6px;
    margin-left: 5px;
}

.envelope-svg {
    width: 20px;
    height: auto;   
}

.info-twitter-button {
    color: #f5f5f5;
    cursor: pointer;
    border: none;
    background: none;
    height: auto;
    width: 25px;
    margin: 0;
    padding: 0;
}

.info-show-modal-button {
    color: #f5f5f5;
    cursor: pointer;
    border: none;
    background: none;
    height: auto;
    width: 25px;
    margin: 0;
    padding: 0;
}

.question-svg {
    width: 20px;
    height: auto;
}

.info-modal-show {
    display: none;
    position: fixed;
    /* display: flex; */
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6)
}

.modal-content {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    width: 90%;
    height: auto;
}

.modal-content-left {
    background-color: #EC4899;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
    position: relative;
    width: 100%;
    height: 40px;
}

.modal-content-right {
    background-color: #1F2937;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    font-size: 0.8em;
}

.modal-close-button {
    color: #1F2937;
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    top: 0%;
    right: 0%;
}

.modal-close-button:focus {
    outline: 2px solid #f5f5f5;
}

.projects-btn {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    color: #f5f5f5;
    background-color: inherit;
    margin: 0;
    padding: 2px 0;
    margin-bottom: 0.25rem;
    text-align: right;
    padding-right: 0.5rem;
    border: 2px solid #EC4899;
    cursor: pointer;
    transition: padding 0.5s;
}

.projects-btn:hover {
    padding-right: 1rem;
    background-color: #EC4899;
}

.projects-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #7C3AED;
    text-align: right;
    margin-bottom: 0.25rem;
}

.projects-ul-closed {
    display: none;
}

.projects-li {
    font-size: 0.9rem;
    padding-right: 0.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #7C3AED;
    cursor: pointer;
    transition: padding 0.5s;
    color: #f5f5f5;
}

.projects-li:hover {
    padding-right: 1rem;
    background-color: #7C3AED;
}

.content-container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.main {
    max-width: 800px;
    color: #f5f5f5;
}

.main-divider {
    width: 100%;
    max-width: 500px;
    background-color: #f5f5f5;
    height: 0.5px;
    margin-top: 4px;
}

.number-highlight {
    color: yellow;
}

.index-main {
    width: 100%;
    max-width: 800px;
    color: #f5f5f5;
    font-size: 0.9em;
}

.index-main h1 {
    color: #f5f5f5;
    border-bottom: 1px solid #EC4899;
    font-size: 4em;
    font-weight: lighter;
}

.main-content {
    width: 100%;
    max-width: 800px;
    color: #f5f5f5;
    padding-top: 1em;
}

.main-content h1 {
    color: #f5f5f5;
    border-left: 4px solid #EC4899;
    border-bottom: 1px solid #EC4899;
    display: inline-block;
    padding-left: 0.2em;
    font-size: 2.5em;
    font-weight: lighter;
}

.main-content h4 {
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    font-size: 1.4em;
    font-weight: lighter;
}

.main-content p {
    margin-bottom: 1rem;
}

/* PROJECT SECTION CONTAINER AND LAYOUT */

.project-main-container {
    /* border: 1px solid #EC4899; */
}

.project-navigation {
    
}

.project-navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.project-navbar li {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
    /* border: 1px solid #EC4899; */
}

.project-li-summary {
    border: 1px solid #EC4899;
    border-bottom: none;
}

.project-li-html {
    border: 1px solid #EC4899;
}

.project-li-css {
    border: 1px solid #EC4899;
}

.project-li-js {
    border: 1px solid #EC4899;
}

.project-navbar li button {
    background: inherit;
    cursor: pointer;
    border: none;
    color: white;
    width: 100%;
}

.project-inner-container {
    padding: 1em 1em;
    border-right: 1px solid #EC4899;
    border-left: 1px solid #EC4899;
    border-bottom: 1px solid #EC4899;
}

.project-summary {
    display: block;
}

.project-html {
    display: none;
}

.project-css {
    display: none;
}

.project-javascript {
    display: none;
}

.backwards-button {
    text-align: center;
    background: inherit;
    cursor: pointer;
    border: none;
    color: white;
    width: 100%;
}

.forwards-button {
    text-align: center;
    background: inherit;
    cursor: pointer;
    border: none;
    color: white;
    width: 100%;
}

/* .img-div-tutorial-wide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-div-tutorial-wide img {
    max-width: 680px;
} */

/* .progress-monitor {
    background-color: black;
    padding: 1rem;
}

.progress-terminal {
    background-color: #696969;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f5f5f5;
    height: auto;
    width: 90%;
    display: flex;
    
}

.progress-initial-button {
    display: flex;
    background-color: black;
    color: #f5f5f5;
    width: 40%;
    margin: 0 10px;
    border-radius: 10px;
    border: 0;
}

.progress-initial-hack {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 0.5em;
    height: 80px;
    background-color: black;
} */

/* .progress-initial-hack-complete {
    position: absolute;
    height: 80px;
    width: 0.5em;
    background-color: yellow;
}

.progress-connect-hack {
    position: relative;
    height: 5px;
    width: 8em;
    background-color: black;
}

.progress-connect-hack-complete {
    position: absolute;
    height: 5px;
    width: 8em;
    background-color: yellow;
}

.progress-hack-button {
    display: flex;
    width: 6em;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    padding:5px;
} */

/* .progress-hack {
    position: relative;
    height: 16px;
    width: 200px;
    background-color: red;
} */

/* .progress-hack-complete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 16px;
    width: 200px;
    background-color: blue;
    font-size: 0.6em;
    text-align: center;
}

.rookie-progress-hack-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

.progress-computer {
    background-color: black;
    display: flex;
    width: 200px;
    height: 20px;
    position: relative;
}

.rookie-progress-hack {
    background-color: #EC4899;
    width: 200px;
    height: 20px;
    position: absolute;
    text-align: center;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .modal-content {
        width: 30%;
        height: auto;
    }

    .modal-content-right {
        display: flex;
        align-items: center;
        height: 300px;
    }
    
    .modal-close-button:focus {
        outline: 2px solid #f5f5f5;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .full-content-div { 
        flex-direction: row;
        align-items: flex-start;
    }

    .nav {
        width: 30%;
    }

    .content-container {
        width: 70%;
    }

    .main {
        margin-top: 8rem;
    }

    .index-main {
        padding-top: 3em;
    }

    .main-content {
        padding-top: 3em;
    }

    .main-content h1 {
        font-size: 4em;
    }

    .full-content-div {
        margin-left: 1.25em;
        margin-right: 1.25em;
    }

    .progress-terminal {
        flex-direction: row;
        justify-content: center;
    }

    .progress-initial-hack {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .progress-initial-button {
        background-color: black;
        color: #f5f5f5;
        width: 20%;
        margin: 0 30px 0 0;
        cursor: pointer;
    }

    .progress-hack-button {
        margin-right: 30px;
        cursor: pointer;
    }

    .progress-button {
        margin: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}